<!doctype html>
<html class="no-js" lang="en" ng-app="angularApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DWA Starter</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="{{root}}assets/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-controller="TestAngularCtrl">

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}


    {{> navigation}}
    {{> body}}
    {{> footer}}



    <script src="{{root}}assets/js/app.js"></script>


    <script src="js/main.js"></script>
    <script src="js/react.js"></script>
</body>
</html>
